<ion-content>

  <!-- Fab buttons -->
  <ion-fab horizontal="end"
           slot="fixed"
           vertical="bottom">
    <ion-fab-button (click)="openSearchModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- List -->
  @if (loading) {
    <div class="loading">
      <ion-spinner [color]="'primary'"></ion-spinner>
    </div>
  } @else if (songs.length) {
    <ion-list>
      @for (song of songs; track song.id) {
        <ion-item [button]="true"
                  lines="none"
                  (click)="play(song)">
          <ion-thumbnail class="thumbnail" slot="start">
            <img alt="Thumbnail" appSrcHandler [src]="song.init.thumbnail"/>
          </ion-thumbnail>
          <ion-label>
            <h3 class="text-truncate"
                [class.text-primary]="playerSong?.id === song.id">
              {{ song.init.title }}
            </h3>
            <small>{{ song.init.author }} &middot; {{ song.init.time }}</small>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="$event.stopPropagation(); songActions(song)">
              <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      }
    </ion-list>
  } @else {
    <p class="ion-margin ion-text-center">
      Empty songs?
      <br>
      No problem! Start downloading your favorite songs now and fill it up with your music vibe. Let's get the party
      started!
    </p>
  }
</ion-content>

