<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Playlist
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content>

  <!-- Fab buttons -->
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button (click)="openSearchModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- List -->
  @if (loading) {
    <div class="loading">
      <ion-spinner [color]="'primary'"></ion-spinner>
    </div>
  } @else if (songs.length) {
    <ion-list>
      @for (song of songs; track song.video_id) {
        <ion-item [button]="true"
                  lines="none"
                  (click)="songSelect(song)">
          <ion-thumbnail class="thumbnail" slot="start">
            <img alt="Thumbnail" appSrcHandler [src]="song.thumbnail"/>
          </ion-thumbnail>
          <ion-label>
            <h3 class="text-truncate" [class.text-primary]="songSelected?.video_id === song.video_id">
              {{ song.title }}
            </h3>
            <small>{{ song.author }} &middot; {{ song.time }}</small>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  } @else {
    <p class="ion-margin ion-text-center">
      Empty playlist?
      <br>
      No problem! Start downloading your favorite songs now and fill it up with your music vibe. Let's get the party
      started!
    </p>
  }
</ion-content>

<!-- Footer -->
@if (songSelected) {
  <ion-footer (click)="songSelectFull(playerSheet)">

    <!-- Player progress -->
    <ion-progress-bar [value]="playerProgressControl.value / 100"></ion-progress-bar>

    <!-- Current selected song -->
    <ion-toolbar>
      <ion-item lines="none">
        <ion-thumbnail class="thumbnail" slot="start">
          <img alt="Thumbnail" [src]="songSelected.thumbnail"/>
        </ion-thumbnail>
        <ion-label>
          <h3 class="text-truncate">{{ songSelected.title }}</h3>
          <small>{{ songSelected.author }}</small>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="$event.stopPropagation(); togglePlayer()">
            <ion-icon slot="icon-only" [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
}

<!-- Player modal sheet -->
<ion-modal #playerSheet
           [breakpoints]="[0, 1]"
           class="player-sheet"
           [initialBreakpoint]="1">
  <ng-template>
    <div class="content" *ngIf="songSelected">

      <!-- Cover -->
      <div class="cover">
        <img [src]="songSelected.thumbnail"
             alt="Thumbnail"
             appSrcHandler
             class="cover"/>
      </div>

      <!-- Player -->
      <div class="player ion-padding-horizontal ion-padding-bottom">

        <!-- Info -->
        <div>
          <h3 class="m-0">{{ songSelected.title }}</h3>
          <small>{{ songSelected.author }}</small>
        </div>

        <!-- Progress -->
        <div class="progress">

          <!-- Progress -->
          <small>{{ playerProgressTime }}</small>

          <!-- Bar -->
          <ion-range (ionKnobMoveEnd)="seekTo($event)"
                     (ionKnobMoveStart)="playerKnobMoving = true"
                     [formControl]="playerProgressControl"
                     [max]="100"
                     class="ion-margin-horizontal">
          </ion-range>

          <!-- Song duration -->
          <small>{{ playerDurationTime }}</small>
        </div>

        <!-- Control -->
        <div class="control">

          <!-- Previous -->
          <!--          <ion-buttons>-->
          <!--            <ion-button>-->
          <!--              <ion-icon slot="icon-only" name="play-skip-back"></ion-icon>-->
          <!--            </ion-button>-->
          <!--          </ion-buttons>-->

          <!-- Play -->
          <ion-button class="play ion-margin-horizontal" color="dark" (click)="togglePlayer()">
            <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
          </ion-button>

          <!-- Next -->
          <!--          <ion-buttons>-->
          <!--            <ion-button>-->
          <!--              <ion-icon slot="icon-only" name="play-skip-forward"></ion-icon>-->
          <!--            </ion-button>-->
          <!--          </ion-buttons>-->
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>

<!-- Song modal sheet -->
<ion-modal #menuSheet
           [breakpoints]="[0, 1]"
           [initialBreakpoint]="1"
           class="menu-sheet">
  <ng-template>
    <div>
      <ion-list>

        <!-- Share -->
        <ion-item [button]="true" lines="none">
          <ion-icon name="arrow-redo" slot="start"></ion-icon>
          <ion-label>Share</ion-label>
        </ion-item>

        <!-- Delete -->
        <ion-item [button]="true" lines="none">
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Delete</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ng-template>
</ion-modal>


