.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu-sheet {
  --height: auto;
}

ion-footer {
  ion-thumbnail {
    --size: 40px;
    --border-radius: 6px;
  }
}

.player-sheet {
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .cover {
      aspect-ratio: 1 / 1;
      height: auto;
      width: auto;

      img {
        object-fit: cover;
        object-position: center center;
        height: 100%;
        width: 100%;
      }
    }

    .player {
      box-shadow: 0px -5px 30px 30px var(--background);
      display: flex;
      flex-direction: column;
      height: 100%;

      .progress {
        margin-top: auto;
        display: flex;
        align-items: center;
      }

      .control {
        display: flex;
        align-items: center;
        justify-content: center;

        .play {
          --border-radius: 50%;
          width: 57px;
          height: 57px;
        }
      }
    }
  }
}
